@font-face {
	css font-family: MyCustomFont;
  src: url("https://www.w3schools.com/cssref/sansation_light.woff");
}


.h1{
  color:Black; 
  font-family:MyCustomFont;
  text-align: left;
   }    
                                                                                             
.h2 {
	color:White; 
  font-family:Verdana; 
  text-align: left;
  text-shadow: 4px 4px 4px black;
  padding: 10px;
  background-color: rgb(173, 173, 133);

   }
                            
.headerclass1 {
  font-size:60px;
  font-weight:normal;
}

.headerclass2 {
  font-size: 25px;
  font-weight:normal;
}

.bodyclass1{
  css font-family:MyCustomFont;
  color: black; 
  text-shadow: none;
  font-size:15px;
}
          
body {
  word-wrap: break-word;
  background-color: rgba(255, 255, 255);
  font-family: Verdana, Helvetica, Arial, sans-serif;           
}
            
.p1 {
  css font-family:MyCustomFont;
  color: black;
  font-size:15px;
  background-color: rgb(230,230,230);
}         

.p1-right {
  margin-left:720px;
}   

.p2 { 
  background-color: rgb(230,230,230);
    ; }      

#sub-p {
  color:green;
  font-size:15px;
  font-style:italic;
}

.centerBlock {
  background-color: rgb(230,230,230);
  display: flex;
  justify-content: center;
  align-items: center;
}       



                                                                                                              
a:hover {
	background-color: white;
        color:  blue;
        }
          

.addBorder1 {
        border:solid 1px grey;
            }            
             
.addBorder2 {
	border:solid 1px blue;
            }    


#container-1{
  font-size: 15px;
  text-align: left;
  display: flex;
  justify-content: center;
  top: 0;
  position: sticky; 
  padding: 2px;
  background-color: rgb(184,184,148);
  }


#container-1 div {
  width: auto;
  display: flex;
  }
      
#navigation-1 {
  width:auto;
  margin:1%;    
  }
      
#content-1{
  float:left;
  width:31.3%;
  margin:1%;     
  }  

img{  
  max-width:100%;
  height:auto;
    }

.imageCover{
  max-width:100%;
  height:auto;
  position: relative;
  }    

.imageCover .coverContent{
    position: absolute; /* Position the background text */
    bottom: 0; /* At the bottom. Use top:0 to append it to the top */
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
    color: #f1f1f1; /* Grey text */
    width: 100%; /* Full width */
    padding: 20px; /* Some padding */
  }  



.imageContent{
    max-height: 175px;
    min-height: auto;  
    max-width: auto;
    display: block;  
    padding: 10px;
  }

.imageRight{
    float:right;
  }

.imageLeft{
    float:left;
    margin-right: 10px;
  }

figure {
    background-color: rgb(255,255,255);
    display: inline-block;
    border: 1px dotted gray;
    margin: 10px; 
}

figure img {
    vertical-align: top;
}
figure figcaption {
    /*border: 1px dotted blue;*/
    text-align: center;
}

/*
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}

.active {
  background-color: red;
}
*/