body{
  font-family: Arial, Helvetica, sans-serif;
 } 

.backGround-black {
 background: #2d2d30;
 color: #bdbdbd;
}

.backGround-grey {
 background: #424242;
 color: #F1F8E9;
}

.backGround-lightGrey {
background: #F5F5F5;
}

.backgroundImg1{
 background-image: url('https://images.unsplash.com/photo-1578922538685-0155e12557c0?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
}

.backgroundImg2{
 background-image: url('https://images.unsplash.com/photo-1530176611600-d05a6387d07c?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ');
}

.imageCover{
 width:100%;
 max-width:auto;
 max-height:auto;
 position: relative;
 }    

 div.padContainer{
  padding-top: 5%;
  padding-right: 15%;
  padding-bottom: 5%;
  padding-left: 15%;
}

.container{
 padding: 40px;
}

.boxInCol {
  padding: 20px; 
}

.boxInBoxInCol {
  background-color: white;
  width: 200px;
  height: auto;
  padding: 15px; 
  text-align: center;
}

.topPadding{
  padding-top:50px;
}


/* Remove rounded borders on input fields */
select.form-control {
 border-radius: 0;
}

input.form-control {
 border-radius: 0;
}

textarea.form-control {
 border-radius: 0;
}

.carousel-inner img {
 width: auto;
 max-height: 600px;
 margin: auto;
}

.carousel-caption h3 {
 color: #fff;
}

@media (max-width:600px) {
 .carousel-caption {
   display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
 }
}

.navbar {
 margin-bottom: 0;
 background-color: #2d2d30;
 border: 0;
 font-size: 12px;
 letter-spacing: 4px;
 opacity: 0.9;
}

/* Add a gray color to all navbar links */
.navbar li a, .navbar .navbar-brand {
 color: #d5d5d5 !important;
}

/* On hover, the links will turn white */
.navbar-nav li a:hover {
 color: #F1F8E9 !important;
}

/* Active link */
.navbar-nav li.active a {
 color: #fff !important;
 background-color:#29292c !important;
}

/* Remove border color from the collapsible button */
.navbar-default .navbar-toggle {
 border-color: transparent;
}


/* Dropdown */
.open .dropdown-toggle {
color: #fff ;
background-color: #555 !important;
}

/* Dropdown links */
.dropdown-menu li a {
color: #000 !important;
}

/* On hover, the dropdown links will turn grey */
.dropdown-menu li a:hover {
background-color: #424242 !important;
}

/* zoom a picture */
.zoom {
 transition: transform .2s; /* Animation */
}

.zoom:hover {
 transform: scale(1.1); 
}

/* On hover, the color of .btn will transition to blue with black text */
.btn:hover, .btn:focus {
 border: 1px solid #333;
 background-color: #80DEEA;
 color: black;
}

.btnColor1 {
 background-color: dimgrey;
 color: #fff;
}
